.form {
    height: 650px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: auto;
    border-radius: 35px;
    background-color: white;
    padding: 0;
    box-sizing: border-box;
}

.cover-photo {
    width: 100%;
    height: 650px;
    display: block;
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 190px;
    width: 166px;
    height: 51px;
    background-size: cover;
}

.regi {
    background-color: black;
}


.sign-up,
.create {
    text-align: center;
}

.headig {
    font-size: 40px;
    font-weight: 600;
}

.sign-up {
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.create {
    font-size: 15px;
    font-weight: 500;
}

.continue {
    border: none;
    background-color: white;
    margin-bottom: 5px;
}

.continue img {
    width: 350px;
}

.inputForm {
    width: 350px;
    margin-bottom: 5px;
}

.registerBtn {
    color: white;
    border-radius: 50px;
    display: block;
    margin: auto;
    width: 350px;
    padding: 7px;
    background-color: black;
    border: 1px solid black;
}

.account {
    text-align: center;
}

span .login {
    color: purple;
    text-decoration: none;
}