.chat-window-container {
    display: grid;
    grid-template-columns: 0.7fr 3.3fr;
    height: 100vh;
    gap: 1rem;
}

.sidebar {
    padding: 1rem;
    background-color: #f0f0f0;
    width: 100%;
    margin-top: 0;
    padding-top: 7px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.sidebar ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.sidebar li svg {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.sidebar li.active {
    font-weight: bold;
    color: #333;
}

.sidebar li:hover {
    color: #0c0c0c;
}


.sidebar .active {
    border-radius: 7px;
    padding: 2px 10px;
    background-color: rgb(219, 218, 218);
}

.main-chat {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1rem;
    overflow-y: auto;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

/* Main Chat Area Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.navbar .name {
    margin: 0;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.navbar hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.blank {
    padding: 0 90px;
}

.answer {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text {
    font-size: 16px;
    color: #A9A9A9;
    margin-top: 0;
}

.serach-history {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

.serach-history span {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.serach-history span:first-child {
    text-align: left;
    color: #0c0c0c;
    font-weight: 500;
}

.serach-history span:last-child {
    text-align: right;
}

.serach-history .message-icon {
    display: block;
    font-size: 90px;
    color: #4B4B4B;
    text-align: center;
    margin: 20px auto;
}

.serach-history h3 {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.serach-history p {
    text-align: center;
    color: #A9A9A9;
    font-size: 14px;
    margin-top: 10px;
}


.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 1px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.message-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    flex-grow: 1;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 10px;
}

.send-button {
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.send-button i {
    font-size: 20px;
}

.send-button:hover {
    color: #4CAF50;
}

.version {
    margin-top: 10px;
    font-size: 16px;
    color: gray;
    text-align: center;
}